

/* -----Navbar---- */


/* Logo */

img.duck-logo {
    width:55px;
}

/* Navbar text color */

input.form-control {
    --bs-text-opacity: black
}

.navbar-toggler {
    border-color: #FFFFFF;
}

.navbar-nav {
    --bs-navbar-active-color:white;
    --bs-nav-link-color: #909294;
    --bs-nav-link-hover-color: white;
    --bs-nav-link-disabled-color: #909294;
}

/* Catalogo Libri */

.btn-add { 
    border:none;
}